* {
  /* Css Inicial para todas las páginas */
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
}

/* Caja del header */
header {
  text-align: center;
  height: 8%;
  background-color: black;
  color: white;
  overflow: hidden;
  /* Fuente de Google Fonts */
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Título en el header */
header h1 {
  margin: 0;
}
/* Icono en el h1 header */
header h1 .icon-header {
  font-size: 3rem;
  color: white;
  position: relative;
  top: 12px;
}
/* Caja del menu */
.nav-bar {
  overflow: hidden;
  text-align: center;
  height: 7%;
}
/* Elementos del menu */
.nav-bar ul a li {
  float: left;
  list-style: none;
  padding: 10px;
}
/* Enlaces del menu */
.nav-bar ul a {
  /* Fuente de Google Fonts */
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  color: black;
  padding: 10px;
}
/* Estilos para cuando ponemos el ratón sobre el enlace */
.nav-bar ul a:hover,
.nav-bar ul a.active {
  background-color: lightgray;
}

/* Estilos del contenido */
.main {
  height: 77%;
  overflow: hidden;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  padding: 20px 15px 20px 15px;
}
.main .left-section {
  float: left;
  height: 100%;
  width: 70%;
}
.main .left-section article h1{
    font-size: 48px;
    margin-bottom: 30px;
}
.main .left-section article p{
    text-align: justify;
    padding-right: 15px;
    line-height: 1.8;
}
.main .right-section {
  float: left;
  height: 100%;
  width: 30%;
  background: url("../img/cine.PNG");

  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  height: 5%;
  position: absolute;
  bottom: 0;
  right: 0;
    /* Fuente de Google Fonts */
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer .copyright {
  float: left;
}
footer .copyright p {
  text-align: left;
  font-size: 12px;
  padding-top: 6px;
}

footer ul {
  width: auto;

  float: left;
  margin-left: 2rem;
  margin-right: 1rem;
}

footer ul li {
  float: left;
  list-style: none;
}

footer ul li ion-icon {
  font-size: 1.87rem;
  margin-right: 0.62rem;
}
